**.la
**.lo
**.pdf
**/Makefile
*.deps
*.libs
*.log
*.o
*Makefile.in
aclocal.m4
autom4te.cache
check-*-compile
check_*_api
check_*_internals
compile
config.*
configure
dbusinterface.[ch]
depcomp
install-sh
libgeis.pc
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltversion.m4
lt~obsolete.m4
missing
pkg.m4
stamp-*
TAGS
test-driver
